.invest {
    padding-bottom: 100px;
    h1 {
        color: rgb(52, 52, 52);
        font-size: 52px;
        line-height: 67.2px;
        letter-spacing: 1.68px;
        margin-bottom: 10px;
        text-align: center;
    }

    .invest_firstp {
        color: rgb(18, 18, 18);
        font-size: 18px;
        line-height: 28.8px;
        text-align: center;
        margin-bottom: 23px;
    }

    .invest_types_block {
        border-radius: 5px;
        box-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.07);
        background: rgb(255, 255, 255);
        max-width: 1100px;
        padding: 45px 0;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;

        .invest_type_item {
            padding: 0 45px;
            width: 33%;
            p:first-child {
                color: rgb(52, 52, 52);
                font-size: 21px;
                line-height: 28.6px;
                letter-spacing: 0.66px;
                margin-bottom: 18px;
            }

            p:nth-child(2) {
                color: rgb(6, 6, 6);
                font-size: 14px;
                line-height: 22.4px;
                margin-bottom: 20px;
                min-height: 88px;
            }

            p:nth-child(3) {
                color: rgb(6, 6, 6);
                font-size: 14px;
                line-height: 22.4px;
                margin-bottom: 18px;

                sup {
                    color: rgb(143, 143, 143);
                    font-size: 12px;
                    letter-spacing: 0.72px;
                }
            }

            button {
                color: rgb(255, 255, 255);
                font-size: 13px;
                line-height: 16px;
                border-radius: 24px;
                background: rgb(137, 121, 232);
                padding: 15px 100px;
                max-width: 270px;
                border: none;
            }

            &:nth-child(2) {
                border-left: 1px solid rgba(0, 0, 0, 0.07);
                border-right: 1px solid rgba(0, 0, 0, 0.07)
            }

            .invest_detailed_info {
                margin-top: 34px;
                padding-left: 30px;

                li {
                    color: rgb(6, 6, 6);
                    font-size: 13px;
                    line-height: 22.4px;
                    margin-bottom: 7px;
                }
            }
        }
    }
}