@import "./header.scss";
@import "./hero.scss";
@import "./social_links.scss";
@import "./mobile_design.scss";
@import "./benefits.scss";
@import "./payment_advert.scss";
@import "./sell_advert.scss";
@import "./customer.scss";
@import "./invest.scss";
@import "./start.scss";
@import "./our_blog.scss";
@import "./install.scss";
@import "./footer.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-ft-color: rgb(52, 52, 52);
    --secondary-ft-color: rgb(6, 6, 6);
}

@font-face {
    font-family: main-font;
    src: url(../fonts/Roboto-Regular.ttf);
}

.container {
    max-width: 1270px;
    padding: 0 20px;
    margin: 0 auto;
}

h1 {
    color: rgb(52, 52, 52);
}

ul li {
    list-style: none;
    a {
        text-decoration: none;
    }
}

body {
    font-family: main-font;
    font-weight: 400;
    background-image: url(../images/hero_bg.png);
    background-position: top right;
    background-repeat: no-repeat;
}

button {
    cursor: pointer;
}
