.social_links {
    margin-top: 160px;
    margin-bottom: 90px;

    ul {
        display: flex;
        max-width: 800px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;

        li {

            a {
                display: inline-block;
                width: 100px;

                img {
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
}